html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/***************** FOOTER CSS  *******************/

/***************** LANDING PAGE CSS  *******************/

.main-jumbotron{
  background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJvb2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

#shop-now {
position: relative;
left: 280px;
top: 50px;
height: 75px;
width: 200px;
font-size: large;
background-color: #1565c0;
border-radius: 4px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
border: none;
color: white;
}

#shop-now:hover {
  box-shadow: 0px 15px 20px rgba(96, 96, 96, 0.4);
  color: #fff;
}


.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}


#home-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1250px;
  height: 150px;
  margin: auto;
  border-top: 1px solid #1565c0;
  border-bottom: 1px solid #1565c0;
  padding-bottom: 25px;
}

#home-icons > div {
  margin: 50px;
}

#r-r-books{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.r-r-book{
  margin: 50px;
  text-align: center;
}

.r-r-cover{
  height: 300px;
  width: 175px;
}

.jumbotron-1{
  margin: auto;
  background-image: url("https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2021/05/04/Gateway_Quote_A1_05-04.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 1250px;
  height: 450px;
}

.jumbotron-2{
  margin: auto;
  background-image: url("https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2021/05/04/Gateway_Quote_A2_05-04.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 1250px;
  height: 450px;
}

.jumbotron-2-text{
  width: 450px;
}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.jumbotron-3{
  margin: auto;
  background-image: url("https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2021/04/27/Gateway_Quote_A3_4-27.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 1250px;
  height: 450px;
}

.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

nav {
  position: relative;
  top: 0px;
  z-index: 1;
}

footer {
  clear: left;
}

#top-books {
  clear: left;
}
.bargain {
  clear: left;
}
.latest {
  clear: left;
}

/* Search Box */
.search-box {
  text-indent: 15px;
}






/*********************************************** BOOK LISTING CSS  *******************************************/


/* MUST FIX CSS LATER  */

#book-listing-title{
  text-align: center;
}

#book-listing-subtitle{
  text-align: center;
}

#books-container{
  /* border: 5px solid black; */
  margin: auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.bookCard{
  /* border: 1px solid red; */
  height: 350px;
  width: 200px;
  padding-right: 45px;
  flex: 0 0 25%;

}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bookCover1{
  height: 200px;
  width: 125px;
  padding-bottom: 3px;
}

.addToCart{
  background-color: #1565c0;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
}

.addToCart:hover {
  box-shadow: 0px 15px 20px rgba(96, 96, 96, 0.4);
  color: #fff;
  transform: translateY(-3px);
}


/*********************************************** Search Form CSS  *******************************************/

#form-div{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

#search{
  width: 1000px;
}



/*********************************************** Show Page CSS  *******************************************/

#show-page-container{
  position: relative;
  left: 15%;
}

#show-page-container-top{
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#show-page-container-bottom{
  clear: both;
  position: relative;
  left: 255px;
  width: 1000px;
  padding: 20px;
}



.sp-child{
  width: 50%;
  float: left;
  padding: 20px;
}

.sp-img{
  width: 325px;
  height: 500px;
}

.sp-button-component{
  width: 50%;
  float: left;
  text-align: center;
}


.sp-add{
  background-color: #1565c0;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
}

.sp-add:hover {
  box-shadow: 0px 15px 20px rgba(96, 96, 96, 0.4);
  color: #fff;
  transform: translateY(-3px);
}

a:hover{
  text-decoration: none;
}
