<<<<<<< Updated upstream



/* INDEX PAGE CSS */

#about-us{
    background-color: aliceblue;
    width: 100%;
}

=======
>>>>>>> Stashed changes
#f1{
    float:left;
}
#f2{
<<<<<<< Updated upstream
    float:left;
}
#f3{
    float:left;
=======
    clear:left;
}
#f3{
    clear:left;
>>>>>>> Stashed changes
}